.mainWrapper {
    padding: 1em;
    background-color: #d8d8d8;
    text-align: center;

    .foodHeader {
        color: salmon;
    }
    .moviesHeader {
        color: salmon;
        margin-top: 1em;
    }

    ul {
        list-style-type: none;
        li{
            font-size: 1.1em;
            padding-left: 0.5em;
            margin: 0.2em;
            letter-spacing: 1px;
        }
    }
}