.navigation {
    padding: 1em;
    ul {
        list-style-type: none;
        display: flex;
        justify-content: right;
        li {
            margin-left: 1em;
            a {
                text-decoration: none;
                font-size: 1.3em;
                color: black;
                background-color: #d8d8d8;
                padding: 5px;
                border-radius: 10px;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}